<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Panel Technologies Inc</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#page-top">
                        <img width="40px" height="40px" src=" {{url_for('static', filename='assets/favicon.ico') }}">
                        Panel Technologies Inc.</a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item "><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item "><a class="nav-link" href="#capabilities">Capabilities</a></li>
                        <li class="nav-item "><a class="nav-link" href="#products">Products</a></li>
                        <li class="nav-item "><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
                <video autoplay muted loop playsinline class="back-video">
                    <source src="{{ url_for('static', filename='assets/background.mp4') }}" type="video/mp4">
                </video>
            <div class="container px-4 px-lg-5 h-100">

                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-10 align-self-end opaque">
                            <h1></h1>
                            <h1></h1>
                            <h1 class="text-white font-weight-bold">Panel Technologies</h1>
                            <hr class="divider" />
                        </div>
                        <div class="col-lg-8 align-self-baseline opaque">
                            <p class="text-white-100">We Manufacture the Highest Quality Components for Data Communications, Defense, Automotive, Aviation, Medical, and more</p>
                           <!-- <a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->
                        </div>
                </div>
            </div>
        </header>

        <!-- Who We are -->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <!--
                    <div class="col-md-4 text-center">
                            <div class="container">
                            <img class="bodyimage" src="{{ url_for('static', filename='assets/img/pexels-daniel-smyth-10406128.jpg') }}">
                        </div>
                    </div>
                    -->
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Who We Are</h2>
                        <hr class="divider divider-light" />
                        <h4 class="text-white mb-4">For over 30 years Panel Technologies has proudly served a wide range of industries providing a one-stop solution to our clients complex machining, manufacturing, and design needs.
                            <br>
                            <br>
                            Leveraging our experience in the industry and deep relationships with local suppliers we're able to consolidate multiple manufacturing needs and deliver complete metalwork to your doorstep.
                            <br>
                            <br>
                            We provide design, rapid prototyping, production, assembly, plating, painting, and silk-screening and work with a wide range of materials and part geometries. We work with industries such as data communications and telemetry, aviation, medical, defense, automotive, and transportation. Our customers range from innovators and local companies to the largest global corporations.
                        </h4>
                    </div>
                </div>
            </div>
        </section>

        <!-- quality -->
        <section class="page-section bg-secondary" id="customer-service">
            <div class="container px-4 px-lg-5 mt-4">
                <div class="row gx-4 gx-lg-5 justify-content-center text-center">

                    <h2 class="text-black mt-0">Our Core Values</h2>
                    <h3 class="text-black mt-4 mb-4">Exceptional Quality</h3>
                    <h4 class="text-black mt-4 mb-4">We aim for quality that exceeds the expectations of the customer. We aim for extraordinary quality in surface finishes and product appearance, exceptional accuracy, and outstanding quality in part cleanliness and packaging. We take pride in our work and want to impart value to the customer.</h4>

                    <h3 class="text-black mt-4 mb-4">Customer Service</h3>
                    <h4 class="text-black mt-4 mb-4">Customer service and a positive customer experience is paramount, because we know that a positive and helpful customer experience aids in short term success and long term efficiency and reliability. We strive to make each interaction pleasant and professional. It is critical to understand the needs of the customer. Your success is our success and we want to help you meet your goals.</h4>

                    <h3 class="text-black mt-4 mb-4">Supplier Relationships</h3>
                    <h4 class="text-black mt-4 mb-4">Responsive and reliable relationships with our own suppliers make a major difference in the level of service we can provide for our customers. Our close partnerships with local suppliers give us the ability to bring fast, cost-effective, and comprehensive service to the customer.</h4>

                </div>
            </div>
        </section>

        <!-- product lifecycle -->
        <section class="page-section2 bg-primary" id="lifecycle">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <!-- <div class="col-md-4 text-center">
                        <img class="bodyimage" src="{{ url_for('static', filename='assets/img/pexels-daniel-smyth-8956313.jpg') }}">
                    </div> -->
                    <div class="col-lg-8 text-center">
                        <div>
                            <h2 class="text-white mb-4">Your partner for prototyping, Production, and Product Support</h2>
                            <h4 class="text-white mb-4">If you're in the design and development stage we can support you with design consultation and prototyping to help you achieve your launch goals and get your product to market as quickly as possible.</h4>
                            <h4 class="text-white mb-4">With an extensive supplier network, custom tooling and decades of production experience we will help you minimize costs and maximize throughout</h4>
                            <h4 class="text-white mb-4">We stand behind our parts and offer support throughout the lifecycle of the product.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

                <!-- capabilities -->
        <section class="page-section bg-secondary" id="capabilities">
            <div class="container px-4 px-lg-5 mt-4">
                <div class="row gx-4 gx-lg-5 justify-content-center text-center">
                    <div class="col-lg-8 text-center">
                    <h1 class="text-white mt-0 mb-4">Capabilities and Services</h1>
                        <div class="col-lg-6 mt-4 text-start">
                        <h2 class="text-white mt-4 mb-4">CNC Machining</h2>
                        <ul>
                            <li><p class="text-white mt-4 mb-4">Fins and heatsinks</p></li>
                            <li><p class="text-white mt-4 mb-4">Electronic connector ports</p></li>
                            <li><p class="text-white mt-4 mb-4">Gasket slots</p></li>
                            <li><p class="text-white mt-4 mb-4">Thin walled, easily-deflecting, and delicate features</p></li>
                            <li><p class="text-white mt-4 mb-4">Small threaded holes and Screw Thread Insert (STI) holes</p></li>
                            <li><p class="text-white mt-4 mb-4">CNC Machining of sheet metal and plate</p></li>
                            <li><p class="text-white mt-4 mb-4">Excellent surface finishes</p></li>
                            <li><p class="text-white mt-4 mb-4">CNC removal of anodize in key areas</p></li>
                            <li><p class="text-white mt-4 mb-4">Turning</p></li>
                            <li><p class="text-white mt-4 mb-4">Deep cavities and small corner radii</p></li>
                            <li><p class="text-white mt-4 mb-4">Fixtures, Jigs, and Assembly Tools</p></li>
                        </ul>

                        <h2 class="text-white mt-4 mb-4">Engraving</h2>
                            <ul>
                                <li><p class="text-white mt-4 mb-4">Engraving of characters in any font</p></li>
                                <li><p class="text-white mt-4 mb-4">Engraving of symbols, graphics, Sequential Serial numbers and part numbers</p></li>
                                <li><p class="text-white mt-4 mb-4">Backfill of engraving</p></li>
                            </ul>

                        <h2 class="text-white mt-4 mb-4">Hardware Installation</h2>
                            <ul>
                                <li><p class="text-white mt-4 mb-4">Installation of PEMs and threaded fasteners</p></li>
                                <li><p class="text-white mt-4 mb-4">Installation of helical inserts</p></li>
                                <li><p class="text-white mt-4 mb-4">Backfill of engraving</p></li>
                            </ul>

                            <ul>
                                <li><p class="text-white mt-4 mb-4">Design from scratch or based on existing specifications</p></li>
                                <li><p class="text-white mt-4 mb-4">Assemblies, singular components, revisions, blueprints and more</p></li>
                                <li><p class="text-white mt-4 mb-4">Widely ranging CAD formats and software environments</p></li>
                            </ul>
                        <h2 class="text-white mt-4 mb-4">Documentation, Inspection, Compliance with ISO 9001:2015 and Other Standards</h2>

                        <h2 class="text-white mt-4 mb-4">Rapid Prototyping and Small-Batch Manufacturing</h2>
                        <ul>
                            <li><p class="text-white mt-4 mb-4">With a robust and flexible manufacturing environment we can quickly produce and iterate on designs</p></li>
                        </ul>

                        <h2 class="text-white mt-4 mb-4">Production Manufacturing</h2>
                            <ul>
                                <li><p class="text-white mt-4 mb-4">We produce our own custom tooling made specifically for your product to increase efficiency and reliability</p></li>
                                <li><p class="text-white mt-4 mb-4">We continuously monitor and improve our processes to save you time and money and keep you on the cutting edge</p></li>
                            </ul>

                        <h2 class="text-white mt-4 mb-4">Painting, Powder Coating, Silkscreening, Plating</h2>
                            <ul>
                                <li><p class="text-white mt-4 mb-4">Close integration with local suppliers allows us to simplify your workflow and deliver finished parts to your door</p></li>
                            </ul>

                        </div>

                        <!--
                        <h3 class="text-white mt-0">Some of our specialties include:</h3>
                            <h4 class="text-white mt-4 mb-4">Engraving Stainless Steel, Aluminum, Acrylic and more</h4>
                            <h4 class="text-white mt-4 mb-4">CNC Machining of Aluminum, stainless steel, carbon steel, acrylic and more:</h4>
                                    <p class="text-white mt-4 mb-4">Fins and heatsinks</p>
                                    <p class="text-white mt-4 mb-4">Electronic connector ports</p>
                                    <p class="text-white mt-4 mb-4">Thin walled, easily-deflecting, and delicate features</p>
                                    <p class="text-white mt-4 mb-4">Small threaded holes</p>
                                    <p class="text-white mt-4 mb-4">Excellent surface finishes</p>
                                    <p class="text-white mt-4 mb-4">CNC removal of anodize in key areas</p>
                                    <p class="text-white mt-4 mb-4">Turning</p>
                                    <p class="text-white mt-4 mb-4">Deep cavities and small corner radii</p>
                                    <p class="text-white mt-4 mb-4">CNC Machining of sheet metal and plate</p>
                                    <p class="text-white mt-4 mb-4">Fixtures, Jigs, and Assembly Tools</p>
                            <h4 class="text-white mt-4 mb-4">Installation of helical inserts, pems</h4>
                            <h4 class="text-white mt-4 mb-4">Documentation, inspection, ISO-9100 compliance</h4>
                            <h4 class="text-white mt-4 mb-4">Backfill of characters</h4>
                            <h4 class="text-white mt-4 mb-4">JIT Manufacturing and Maintenance of Stock</h4>
                            <h4 class="text-white mt-4 mb-4">Rapid Prototyping and Small Batch Manufacturing</h4>
                                    <p class="text-white mt-4 mb-4">With a robust and flexible manufacturing environment we can quickly produce and iterate on designs</p>
                            <h4 class="text-white mt-4 mb-4">Production Manufacturing</h4>
                                    <p class="text-white mt-4 mb-4">We produce our own custom fixturing to minimize production costs and maximize process reliability and throughput</p>
                            <h4 class="text-white mt-4 mb-4">Painting, Powder coating, Silkscreening, Plating</h4>
                                    <p class="text-white mt-4 mb-4">Seamless integration with local suppliers allows us to add more value and efficiency to your production workflow</p>
                            <h4 class="text-white mt-4 mb-4">30+ Years of Experience</h4>
                        -->
                    </div>
                    <!--
                    <div class="col-md-4 text-center">
                        <img class="bodyimage" src="{{ url_for('static', filename='assets/img/pexels-mike-bird-190574.jpg') }}">
                    </div>
                    -->
                </div>
            </div>
        </section>


        <!-- Portfolio-->
        <section class="page-section bg-primary" id="products">
        <div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="row">
                        <h1 class="text-center text-white mb-5">Case Studies</h1>
                        <hr class="divider divider-light"/>
                        <div class="row justify-content-center">
                            <div class="col-lg-8 justify-content-center">
                                <h5 class="text-white text-center mb-4">Get to know us better by looking at some of our case studies. Common elements of our work include tolerances of 0.005+/- on position and size, routine tolerances of +/-0.0015. Finishes and customer impression is important, most are finished with a fine brush grain finish. Afterwards parts usually are anodize or chemical conversion finished, then painted, powder-coated, and silkscreened. Afterwards, hardware is carefully installed, then packed, labelled, and delivered complete to the customer.</h5>
                            </div>
                        </div>
                        </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/IMG_0980.jpeg" title="Ruggedized Encoder Chassis">
                            <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/IMG_0980sm.jpeg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Ruggedized Encoder Chassis</div>
                                <div class="project-name">Made from solid 6061, this chassis has +/-0.005" tolerances, fins for heat dissipation, anodize with alodine areas for conductivity, locking threaded inserts and much more</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/IMG_2009.jpeg" title="W-1 Tool Steel Spanner Wrench for 3/8 Socket">
                            <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/IMG_2009sm.jpeg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">W-1 Tool Steel Spanner Wrench for 3/8 Socket</div>
                                <div class="project-name">When you can't buy the tool, make it! This wrench head was made from W-1 tool steel, then hardened and tempered for it's long life loosening ER16 collet nuts</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/IMG_3802.jpeg" title="Ruggedized 6061 Front Panel">
                            <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/IMG_3802sm.jpeg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Ruggedized 6061 Front Panel</div>
                                <div class="project-name">Chassis front panel of solid 6061, featuring +/-0.005 tolerances, afterwards finished with iridite, paint, silkscreen, and hardware installation. Delivered complete.</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/IMG_5311.JPG" title="Dovetail Vise Jaws and Vise Body">
                            <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/IMG_5311sm.JPG" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Dovetail Vise Jaws and Vise Body</div>
                                <div class="project-name">Bespoke workholding designed in-house and made from 1018 and 4140 steel</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/IMG_6092.jpeg" title="Routing 6061 Aluminum Sheet">
                            <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/IMG_6092sm.jpeg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Routing 6061 Aluminum Sheet</div>
                                <div class="project-name">With decades of experience routing aluminum sheet, we use precision vacuum workholding and expert methods to deliver what our competition can't</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/IMG_8218.jpeg" title="Bespoke 4th Axis Indexing Fixture">
                            <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/IMG_8218sm.jpeg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Bespoke 4th Axis Indexing Fixture</div>
                                <div class="project-name">This bespoke 4th axis indexing fixture paid for itself in a matter of weeks</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


        <!-- RFQ-->
        <section class="page-section bg-secondary" id="rfq">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-black mt-0">Start Working With Us Today</h2>
                        <hr class="divider divider-light" />
                        <p class="text-black-75 mb-4">Complete supply chain solutions, tailor made to your unique design requirements. Personalized service. Design Service. Decades of experience in precision manufacturing. Contact us for a quote today.</p>
                        <a class="btn btn-dark btn-xl" href="#contact">Request for Quote</a>
                    </div>
                </div>
            </div>
        </section>


        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
<!--                <div class="row gx-4 gx-lg-5 justify-content-center">-->
<!--                    <div class="col-lg-8 col-xl-6 text-center">-->
<!--                        <h2 class="mt-0">Contact Us Today</h2>-->
<!--                        <hr class="divider" />-->
<!--                        <p class="text-muted mb-5">Ready to start your next project with us? Send us a messages and we will get back to you as soon as possible!</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">-->
<!--                    <div class="col-lg-6">-->


<!--                        <form action="{{ url_for('home_page') }}" method="post">-->
<!--                            &lt;!&ndash; Name input&ndash;&gt;-->

<!--                            <div class="form-floating mb-3">-->
<!--                                <input id="name" name="name" type="text" placeholder="Enter your name..." />-->
<!--                                <label for="name">Full name</label>-->
<!--                                <div class="invalid-feedback" >A name is required.</div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Email address input&ndash;&gt;-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input id="email" name="email" type="email" placeholder="name@example.com" />-->
<!--                                <label for="email">Email address</label>-->
<!--                                <div class="invalid-feedback" >An email is required.</div>-->
<!--                                <div class="invalid-feedback" >Email is not valid.</div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Phone number input&ndash;&gt;-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <input name="phone" id="phone" type="tel" placeholder="(123) 456-7890" />-->
<!--                                <label for="phone">Phone number</label>-->
<!--                                <div class="invalid-feedback" >A phone number is required.</div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Message input&ndash;&gt;-->
<!--                            <div class="form-floating mb-3">-->
<!--                                <textarea name="message" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" ></textarea>-->
<!--                                <label for="message">Message</label>-->
<!--                                <div class="invalid-feedback" >A message is required.</div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Submit success message&ndash;&gt;-->
<!--                            &lt;!&ndash;&ndash;&gt;-->
<!--                            &lt;!&ndash; This is what your users will see when the form&ndash;&gt;-->
<!--                            &lt;!&ndash; has successfully submitted&ndash;&gt;-->
<!--                            <div class="d-none" id="submitSuccessMessage">-->
<!--                                <div class="text-center mb-3">-->
<!--                                    <div class="fw-bolder">Form submission successful!</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Submit error message&ndash;&gt;-->
<!--                            &lt;!&ndash;&ndash;&gt;-->
<!--                            &lt;!&ndash; This is what your users will see when there is&ndash;&gt;-->
<!--                            &lt;!&ndash; an error submitting the form&ndash;&gt;-->
<!--                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>-->
<!--                            &lt;!&ndash; Submit Button&ndash;&gt;-->
<!--                            <div class="d-grid"><button class="btn btn-primary btn-xl " id="submitButton" type="submit">Submit</button></div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            -->
<!--            -->
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi bi-geo-alt fs-2 mb-3 text-muted" style="color: black;"></i>
                        <h4>Address</h4>
                        <h5>550 California Rd Ste 2<br>Quakertown, PA 18036<br>USA</h5>
                    </div>
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <h4>Phone</h4>
                        <div>+1 (215) 538-7055</div>
                    </div>
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi bi-envelope fs-2 mb-3 text-muted"></i>
                        <h4>Email</h4>
                        <div>manufacturing@panel-tech.com</div>
                    </div>
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi bi-instagram fs-2 mb-3 text-muted" style="color: black;"></i>
                        <h4>Instagram</h4>
                        <h5><a href="#">Panel-Tech on IG</a></h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 Panel Technologies Inc.</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>
